@keyframes fade-in {
    from {
        left: 100%;
    }
    to {
        left: calc(100% - 20rem);
    }
}

.user-profile-body{
    position: absolute;
    top: 4.5rem;
    left: calc(100% - 20rem);
    animation-name: fade-in;
    animation-duration: 0.5s; /* Animation duration */
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* left: 100vh; */
/* border: 1px solid red; */
  }
  

  .user-profile-container {
    /* position: absolute; */
    /* left: 90%;
    top: 2rem;
    top: 1rem; */
    border: 1px solid black;
    width: 20rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    /* left: 50rem; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-size: 1em;
  }
  
  .user-profile-image {
    padding: 3em 0;
    background-color: rgba(0, 0, 0, 0.778);
    max-width: 100%;
    max-height: 300px; /* Set a maximum height for consistency */
    object-fit: contain;
  }
  
  .user-profile-image img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    /* box-shadow: 0 0.6em 1.8em; */
    object-fit: cover;
  }
  
  .user-profile-content {
    color: black;
    padding: 1rem;
  }
  
  .user-profile-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0rem;
    margin-top: 1rem;
  }
  
  .user-profile-email {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #414141;
  }
  
 .rounded-circle{
    border-radius: 50% !important;
}
/* .card-profile-image {
    position: relative;

  } */
  


/* CSS */
.user-log-out-btn {

  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user-log-out-btn:hover,
.user-log-out-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.user-log-out-btn:hover {
  transform: translateY(-1px);
}

.user-log-out-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}